---
import { Icon } from 'astro-icon/components';
---

<span class="fixed top-32 md:top-auto md:bottom-4 right-4">
  <div class="w-10 h-10 sm:w-14 sm:h-14 bg-green-500 rounded-full flex items-center justify-center shadow-lg">
    <a href="https://wa.me/12024402272" target="_blank" rel="noopener noreferrer">
        <Icon name="tabler:brand-whatsapp" class="w-8 h-8 text-white" />
    </a>
  </div>
</span>
