---
import { SITE } from 'astrowind:config';

---

<span class="inline-flex items-baseline justify-center mx-auto text-[1.2rem] md:text-base font-bold text-gray-900 whitespace-nowrap">
<div style="
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #1A3A5F;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 1px;
  line-height: 1;
  position: relative;
">
    MY
</div>
  Prof. Dr. {SITE?.name}
</span>
