---
import type { Image as ImageType } from '~/types';
import Image from '~/components/common/Image.astro';
import { twMerge } from 'tailwind-merge';

interface Props {
  items: Array<ImageType & { href?: string }>;
  columns?: number;
  classes?: Record<string, string>;
}

const { items = [], columns = 3, classes = {} } = Astro.props;

const { container: containerClass = '', image: imageClass = '' } = classes;
---

<div
  class={twMerge(
    `grid gap-4 md:gap-6 ${
      columns === 4
        ? 'lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2'
        : columns === 3
          ? 'lg:grid-cols-3 sm:grid-cols-2'
          : columns === 2
            ? 'sm:grid-cols-2 '
            : ''
    }`,
    containerClass
  )}
>
  {
    items.map(({ src, alt, href }) => (
      <div class="relative m-auto max-w-lg">
        <a href={href} target="_blank" rel="noopener noreferrer">
          <Image
            class={twMerge('mx-auto w-full rounded-lg bg-gray-500 shadow-lg', imageClass)}
            width={800}
            height={800}
            widths={[800, 1600]}
            sizes="(max-width: 400px) 100vw, 400px"
            layout="responsive"
            src={src}
            alt={alt}
          />
        </a>
      </div>
    ))
  }
</div>
